/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*{
   margin:0;
   padding:0;
   border:0;
}

body {
   font-family: Courier;
   background-color: rgb(210, 166, 121);
}

html, body {
 height: 100%;
 margin: 0;
}

h3 {
   text-align: center;
   margin-top: 5px;
   text-transform: uppercase;
   color: rgb(115, 77, 38);
   font-size: 28px;
}

h4 {
   text-align: center;
   text-transform: uppercase;
   color: rgb(115, 77, 38);
   font-size: 20px;
}

/* HEADER STYLE */

header {
   background-color: rgb(235, 217, 199);
}

/* --- The below Flexbox method was taken from the following Hubspot resource https://blog.hubspot.com/website/center-div-css#:~:text=To%20center%20a%20div%20horizontally%20on%20a%20page%2C%20simply%20set,equally%20between%20the%20two%20margins --- */
 
.header-logo {
 margin : -5px 0 0 0;
 height: 100%;
 background-color: rgb(235, 217, 199);
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
}

/* end of Flexbox */
 
.header-image {
 padding: 10px;
 float : left;
 text-align: center;
}

.header-title {
 font-size: 18px;
 width: 40px;
 padding-top: 5px;
 float : left;
 color: rgb(115, 77, 38);
}

#menu {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  left: 0px;
  right: 0px;
}

#menu li {
  font-size: 14px;
  margin-left: 90px;
  display: inline;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: #7f5d34;

}
 
#menu a:hover {
    -webkit-box-shadow: 5px 5px 10px #6d502c;
            box-shadow: 5px 5px 10px #6d502c;
    padding: 5px 10px 5px 10px;
    border-radius: 70px 20px;
    font-size: 110%;
 }

.active{
    border-bottom: 1px solid rgb(73, 54, 29);
}
 
/* Below Burger Menu principle was borrowed from https://medium.com/@anonymousgoose0/how-to-create-a-responsive-burger-menu-step-by-step-1afb353a0af1 and adjusted to the current website needs and styles */
 
.main-nav {
   text-align: center;
}
.nav-links {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -ms-flex-pack: distribute;
     justify-content: space-around;
}

.burger {
 display: none;
 cursor: pointer;
 }

.line {
 height: 2px;
 width: 35px;
 margin: 0.5rem 0;
 background: #6d502c;
 -webkit-transition: opacity 0.75s ease, -webkit-transform 0.75s ease;
 transition: opacity 0.75s ease, -webkit-transform 0.75s ease;
 -o-transition: transform 0.75s ease, opacity 0.75s ease;
 transition: transform 0.75s ease, opacity 0.75s ease;
 transition: transform 0.75s ease, opacity 0.75s ease, -webkit-transform 0.75s ease;
}
 
@media screen and (max-width: 1024px) {
  .header-logo {
   width: 100%;
   float: left;
}
 
 .nav-links {
   width: 70%;
   z-index: 2;
 }
 
.main-nav.show .line1 {
 -webkit-transform: translate(-10px) rotate(45deg) translate(15px);
     -ms-transform: translate(-10px) rotate(45deg) translate(15px);
         transform: translate(-10px) rotate(45deg) translate(15px);
}
.main-nav.show .line2 {
 opacity: 0;
}
.main-nav.show .line3 {
 -webkit-transform: translate(-10px) rotate(-45deg) translate(15px);
     -ms-transform: translate(-10px) rotate(-45deg) translate(15px);
         transform: translate(-10px) rotate(-45deg) translate(15px);
}
.main-nav.show .nav-links {
 -webkit-transform: translateX(0%);
     -ms-transform: translateX(0%);
         transform: translateX(0%);
}

#menu li {
    margin-left: 0;
}

@media screen and (max-width: 1393px) {
  .burger {
   display: block;
   position: fixed;
   right: 30px;
 }
 
 .nav-links {
   position: fixed;
   top: 8vh;
   right: 0;
   height: 70vh;
   width: 70%;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -ms-flex-pack: distribute;
       justify-content: space-around;
   background: #e9dac9;
   -webkit-transform: translateX(120%);
       -ms-transform: translateX(120%);
           transform: translateX(120%);
   -webkit-transition: -webkit-transform 1s ease;
   transition: -webkit-transform 1s ease;
   -o-transition: transform 1s ease;
   transition: transform 1s ease;
   transition: transform 1s ease, -webkit-transform 1s ease;
   -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
           box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
 }

 #menu li {
    margin-left: 0;
}
}
}
/* end of Burger Menu */
/* end of HEADER */


/* MAIN CONTENT STYLE */
 
section {
    margin: 0;
    padding: 0;
    background-color: rgb(210, 166, 121);
}

/* video styling principle was taken from https://www.ostraining.com/blog/coding/responsive-videos/#!/ccomment-page=3 with the idea on how to center the video by Sage Adams */
.video {
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: rgb(210, 166, 121);
}
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    border-radius: 70px 20px;
}

.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    border: rgb(210, 166, 121);
}
 
.container a {
    text-decoration: none;
    color: #ffffff;
}

.container a:hover {
    text-decoration: none;
    color: #ffffff;
    -webkit-box-shadow: 5px 5px 10px #6d502c;
            box-shadow: 5px 5px 10px #6d502c;
    padding: 3px;
    border-radius: 70px 20px;
}

.flavours {
 display: none;
}
 
.responsive-image {
 background: no-repeat center center;
 padding: 20px;
 max-width: 100%;
 height: auto;
}
 
@media screen and (max-width: 1024px) {
  .flavours {
   display: block;
 }
 
.country-flavour {
   text-align: center;
   padding: 10px;
   color: rgb(55, 40, 21);
}
}
 
#club-info {
   height: auto;
   margin-bottom: 10px;
   padding: 10px;
   width: 100%;
   overflow: hidden;
   position: relative;
}

#form {
    padding: 10px;
}

.signup-form {
   margin: 10px;
   text-align: center;
   background-color: rgb(210, 166, 121);
   z-index: 1;
}

.signup-form div {
    text-align: left;
}

#inputName3:focus {
    border: 1px solid #6d502c;
    outline: #6d502c;
    -webkit-box-shadow: 0 0 10px #6d502c;
            box-shadow: 0 0 10px #6d502c;
}

#inputEmail3:focus {
    border: 1px solid #6d502c;
    outline: #6d502c;
    -webkit-box-shadow: 0 0 10px #6d502c;
            box-shadow: 0 0 10px #6d502c;
}

.signup-form {
   margin: 10px;
   text-align: center;
   background-color: rgb(210, 166, 121);
   z-index: 1;
}

.signup-form div {
    text-align: left;
}

/* radio buttons styling was borrowed from http://code.iamkate.com/html-and-css/styling-checkboxes-and-radio-buttons/#pureCSS and adjusted to the Cork Coffee Club style */
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -45px;
  line-height  : 1.5em;
}

input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : #ffffff;
  background-image :      -o-linear-gradient(#ffffff);
  background-image :         -webkit-gradient(linear, left top, left bottom, from(#ffffff));
  background-image :         linear-gradient(#ffffff);
  vertical-align   : bottom;
}

input[type=radio   ]:not(old):checked + label > span{
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         -webkit-gradient(linear,left top, left bottom,from(rgb(224,224,224)),to(rgb(240,240,240)));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=radio]:not(old):checked + label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid #6d502c;
  border-radius    : 0.125em;
  background       : #916a3b;
  background-image :      -o-linear-gradient(#bc915c,#916a3b);
  background-image :         -webkit-gradient(linear,left top, left bottom,from(#bc915c),to(#916a3b));
  background-image :         linear-gradient(#bc915c,#916a3b);
}

/* end of borrowed radio buttons style */

.btn {
  background-color: rgb(115, 77, 38);
  border: none;
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.btn:hover {
  background-color: #efb875;
  color: #ffffff;
}
 
/* end of MAIN CONTENT */